{{ form }}

{% if cats['table']['#rows'] %}
  <div style="height: 800px;">
    <table{{ attributes.addClass('table') }}>
      {% if cats['table']['#header'] %}
        <thead>
          <tr>
            {% for cell in cats['table']['#header'] %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        </thead>
      {% endif %}

      <tbody>
        {% for row in cats['table']['#rows'] %}
          {% set row_classes = [
            not no_striping ? cycle(['odd', 'even'], loop.index0),
          ] %}
          <tr{{ row.attributes.addClass(row_classes) }}>
            <td>{{ row['name']}} </td>
            <td>{{ row['email'] }}</td>
            <td>
              <div class="fix-size">
                <a href="{{row['image'] }}" target="_blank">
                  <img
                    class="cat-image"
                    src="{{row['image'] }}"
                    alt="{{ row['name'] }}"
                    width = "300px"
                    height = "200px"
                    title="{{ row['name'] }}"/>
                </a>
              </div>
            </td>
            <td>{{ row['timestamp']|date("d/m/y H:i:s")}}</td>
             {% if 'administrator' in user.getroles %}
              <td>
                <div class="option-links">
                  <button
                    type="button"
                    class="btn btn-outline-danger use-ajax delete"
                    href="{{ path('zin.content', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:400}"
                    data-dialog-type="modal">
                    Delete
                  </button>
                </div>
              </td>
               <td>
                <div class="option-links">
                   <button
                    type="button"
                    class="btn btn-outline-success use-ajax edit"
                    href="{{ path('zinedit.content', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:400}"
                    data-dialog-type="modal">
                    Edit
                  </button>
                </div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endif %}