{{ form }}

{% if reviews['table']['#rows'] %}
  <div style="height: auto;">
    <table{{ attributes.addClass('table') }}>
      {% if reviews['table']['#header'] %}
        <thead>
          <tr>
            {% for cell in reviews['table']['#header'] %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        </thead>
      {% endif %}
      <tbody>
        {% for row in reviews['table']['#rows'] %}
          {% set row_classes = [
            not no_striping ? cycle(['odd', 'even'], loop.index0),
          ] %}
          <tr{{ row.attributes.addClass(row_classes) }}>
            <td class="personal-info">
              <div class="fix-size">
                {% if row['user_image'] %}
                  <a href="{{ row['user_image'] }}" target="_blank">
                    <img
                      class="user-image"
                      src="{{ row['user_image'] }}"
                      alt="{{ row['name'] }}"
                      width = "150px"
                      height = "150px"
                      style = "border-radius: 50px"
                      title="{{ row['name'] }}"/>
                  </a>
                {% else %}
                  <img
                    class="default-user-image user-image"
                    src="/modules/custom/reviewer/images/user_image/default.jpg"
                    alt="{{ row['name'] }}"
                    width = "150px"
                    height = "150px"
                    style = "border-radius: 50px"
                    title="{{ row['name'] }}"/> 
                {% endif %}
              </div>
              <div class="user-name">{{ row['name'] }}</div>
              <div class="submit-date">{{ row['timestamp']|date("m/j/Y H:i:s")}}</div>
            </td>
            <td class="feedback-message">
              <div class="user-message">{{ row['message'] }}</div>
              <div class="fix-size">
                {% if row['image'] %}
                  <a href="{{ row['image'] }}" target="_blank">
                    <img
                      class="image"
                      src="{{ row['image'] }}"
                      alt="{{ row['name'] }}"
                      width = "200px"
                      height = "125px"
                      style = "border-radius: 10px"
                      title="{{ row['name'] }}"/>
                  </a>
                {% endif %}
              </div>
            </td>
            <td class="contact-info">
              <div class="user-email">{{ row['email'] }}</div>
              <div class="user-phone">{{ row['phone'] }}</div>
            </td>
             {% if 'administrator' in user.getroles %}
              <td class="option-links">
                <div>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-lg use-ajax delete"
                    href="{{ path('reviewerdelete.content', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:400}"
                    data-dialog-type="modal">
                    Delete
                  </button>
                </div>
                <div>
                   <button
                    type="button"
                    class="btn btn-outline-success btn-lg use-ajax edit"
                    href="{{ path('revieweredit.content', {'id': row['id']}) }}"
                    data-dialog-options="{&quot;width&quot;:400}"
                    data-dialog-type="modal">
                    Edit
                  </button>
                </div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endif %}